<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Verein.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Neusiedler</h1>

    <h1>Packliste</h1>
    <p>
      Die Bedürfnisse eines jeden Siedlers mögen wohl verschieden sein, doch sei hier eine kleine Empfehlung gegeben, was du mitbringen solltet.<br>
      <br>
      Für die drei Hauptmahlzeiten werden Schüsseln bereitgestellt, doch musst du dein eigenes <b>Besteck</b>, einen <b>Becher</b> und ein <b>Geschirrtuch</b> mitbringen. Unsere Gewandung ist der des einfachen Bauernvolkes um das Jahr 1156 nachempfunden. Du bist eingeladen, deine eigene <b>Gewandung</b> mitzubringen oder dir gegen eine kleine Gebühr welche bei uns zu leihen. Einen <b>Mantel</b> solltest du jedoch unbedingt selbst mitbringen. Lies dir dazu am besten den nächsten Abschnitt zum Thema Gewandung durch.<br>
      Zum Schlafen oder Sitzen auf der Wiese oder auf Bänken sind <b>Schaffelle</b> sehr nützlich und zudem höchst gemütlich. Ein eigenes Schaffell mitzubringen, steht dir frei, doch ist dies kein Muss. Geschlafen wird in Zelten, die wir stellen, bringe also bitte kein eigenes Zelt mit. Eine <b>Isomatte</b> und ein <b>Schlafsack</b> sind für Bequemlichkeit und Wärme jedoch von großem Vorteil. Auch eine <b>Taschenlampe</b> oder eine <b>Kerze</b> helfen, sich in der Dunkelheit zurechtzufinden.<br>
      Zum Wandern solltest du <b>bequemes Schuhwerk</b> einpacken. Obgleich wir uns im Stile des einfachen Bauernvolkes kleiden, machen wir beim Schuhwerk gerne eine Ausnahme. Hier ist es wichtiger, dass du ohne Schmerzen und Blasen dein Ziel erreichst, als dass deine Schuhe historisch korrekt sind. Und falls sich dennoch einmal ein paar Blasen bilden sollten, sind <b>Blasenpflaster</b> nützlich. Viele Siedler schwören auf Schafwollsocken, um Blasen zu vermeiden.<br>
      Für die nachmittägliche Beschäftigung kannst du gerne etwas <b>Handwerkszeug</b>, ein <b>Buch</b> oder ein kleines <b>Spiel</b> mitbringen. Auch <b>Sonnencreme</b> und <b>Mückenspray</b> sind sehr zu empfehlen. Gewaschen wird sich an unserer kleinen Waschstraße. Da das Wasser und alles, was wir an der Waschstraße verwenden, in den Boden sickert, ist es vorteilhaft, <b>Duschgel ohne Mikroplastik</b> oder ein <b>Seifenstück</b> zu verwenden, um die Umwelt nicht unnötig zu belasten.<br>
      Einige Dinge sollten besser zu Hause, im Auto oder im Zelt bleiben – dazu zählen alle elektronischen Geräte wie MP3-Player, Handys, Kameras oder Smartwatches. Wir haben Siedler dabei, die Fotos machen und diese später mit allen teilen. So kannst du die Reise ganz entspannt und ohne Ablenkung durch dein Handy genießen.


    </p>
    <h1>Gewandung</h1>
    <h1>Gewandung</h1>
    <p>Die Kleidung des einfachen Bauernvolkes um 1156.<br><br>
      Mit dem Besiedlungszug wird die historisch belegte Besiedlung der hiesigen Region um 1156 nachempfunden. Die
      Siedler waren in den meisten Fällen arme Bauernsöhne, die selbst keine Aussicht hatten, einen Hof zu erben, dazu
      Tagelöhner, Knechte und Mägde, sowie hin und wieder ein Handwerker. Dadurch ist die Art unserer Gewänder
      vorgegeben:<br><br>
      Die einfache, arme Landbevölkerung besaß nur wenige, vor allem einfache und zweckmäßige Kleidungsstücke. Die
      Stoffe waren handgewebt aus der Wolle der allgegenwärtigen Schafe und/oder aus Leinen (Flachs), teilweise auch aus
      den sehr robusten Fasern von Hanf und Brennessel. Um Kosten und Aufwand zu sparen wurden sie meist ungefärbt
      verarbeitet. Baumwolle oder gar Samt war damals in Europa noch nicht verbreitet und die von Kaufleuten ins Land
      gebrachten feinen Seidenstoffe konnten sich die Bauern natürlich nie leisten.<br><br>
      Sie hätten kostbare Stoffe auch nicht tragen dürfen, denn vom Kaiser wie auch von der Kirche wurden strenge Regeln
      zur Kleidung, wie z.B. deren Schnitt und auch die Farbe vorgegeben.<br><br>
      Aus diesem Grund heißt es: "Kleider machen Leute." = kennzeichnen Standeszugehörigkeit<br><br>
      Für Bauern erlaubt waren Natur- und Erdfarben: Brauntöne - zum Beispiel mit eingeweichten Außenschalen der Walnuss
      oder Eichenrinde. Seltener wurde blau verwendet, gefärbt mit der Waidpflanze. Grün war ziemlich aufwändig zu
      färben aus Blau und darauf Gelb mit Rainfarn, Birke, Reseda. Gelb allein stand für Sündhaftigkeit, also
      gesellschaftliche Außenseiter wie Dirnen. Schwarz wurde bis Ende des 14. Jhd. fast nur von Mönchen getragen.
      Einfache Rottöne - gefärbt mit Krapp - waren für alle Bevölkerungsschichten tragbar. Aber leuchtendes Rot mit
      Purpurschnecken oder Kermesläusen waren teuer und nur Kaiser, Papst und Adligen vorbehalten.<br><br>
      Getragen wurde eine einfach geschnittene, lange Tunika als Hemd, oft nur bis zu den Knien reichend. Darunter trug
      der Mann die Bruche (Unterhose): sie ähnelte einer kurzen, überbreiten Hose. In Brusthöhe wurde sie mit einem
      Strick festgebunden und bis auf Hüfthöhe heruntergerollt.<br><br>
      Daran wurden in der kälteren Jahreszeit zwei nicht miteinander verbundene Beinlinge
      angeknüpft, die oft unterhalb der Knie mit Bändern gebunden wurden.<br><br>
      Die Frau trug oft zwei Tuniken / Hemden / Kittel - Kotta - übereinander, aber keine Unterwäsche. Dabei schaute das
      Unterkleid unter dem kürzer gehaltenen Überkleid heraus, auch an den Ärmeln. Seitlich wurden für eine bessere
      Bewegungsfreiheit oft Keile eingesetzt.<br><br>
      Übrigens waren damals nur Längsnähte üblich, Abnäher o.ä. waren noch nicht bekannt. Deshalb wurde die Tunika
      mittels Gürtel gerafft, auch um die Länge variieren zu können. Frauen benutzen später dazu auch eine Leibbinde,
      die zusätzlichen Halt gab und wärmte.<br><br>
      Bei der Arbeit wurde oft eine Schürze in Form eines Stoffstreifen vor dem Bauch über dem Gürtel getragen.<br><br>
      Man ging vorwiegend barfuß, im Winter trug man Holzpantoffel oder - wenn man hatte - einfache Bundschuhe aus
      Rindsleder. Statt Strümpfen wurden Stoffstreifen - Fußlappen - um die Füße gewickelt, manchmal sogar nur Heu oder
      Stroh.<br><br>
      Alle trugen eine Kopfbedeckung: Männer eine Haube, Frauen Hauben oder Tücher.<br><br>
      Zum Schutz vor Wetter und Kälte trug man Umhänge mit Kapuzen - meist aus wollenem Tuch - schulterlang als Gugel,
      waden- oder bodenlang als Mantel, der dann auch als Schlafdecke diente. Auf der Brust wurde der Umhang mit Bändern
      oder einer Fibel zusammengehalten.<br><br>
      Alles persönliche Habe, also Löffel, Messer, Allmosen- und Zunderbeutel wird am Gürtel getragen, der aus einem
      Strick, brettchengewebter Borte oder - seltener - Leder besteht.<br><br>
      Schmuck war sehr selten, manchmal waren die Kleider mit brettchengewebten Borten oder Stickerei verziert.<br><br>
      Wer sich eine eigene Gewandung herstellen möchte, sollte bereits bei der Auswahl der Stoffe und Farben die
      damaligen Regeln beachten, also relativ grobe Stoffe aus Wolle, Leinen, ev. auch Baumwolle ungefärbt oder in nicht
      zu kräftigen Erd- oder Naturfarben.<br><br>
      Besonders "echt" wirken handgenähte Sachen, da es ja bekanntlich noch keine Nähmaschinen gab.<br><br>
      Siedler, die keine eigene Kleidung nähen oder kaufen möchten, haben die Möglichkeit, sich am ersten Tag des Zuges
      gegen eine kleine Gebühr und einen Pfand Kleidung auszuleihen. Wir verleihen Hosen, Röcke, Kleider,
      Oberbekleidung, Tuniken, Gugeln, Flaschentaschen und Hauben. Einzig warme Kleidung und ggf. ein Mantel sollten
      unbedingt selbst mitgebracht werden.<BR><BR>
    </p>
    <u>Tunika</u>
    <p>Dazu werden drei Stoffstücke benötigt. Die Maße sind der Abbildung zu entnehmen. Der Halsausschnitt kann
      alternativ auch aus einem Dreieck mit 20x20x20 cm bestehen (Spitze nach vorne).
      Zur besseren Bewegungsfreiheit wird ungefähr ab der Hüfte je ein Keil eingesetzt, der auf eine Breite von ca.
      30-40 cm Breite hinausläuft. (ggf. auch in der vorderen und hinteren Mitte = wohlhabender). Alternativ können an
      den Seiten auch zwei Schlitze gelassen werden.
      Für Frauen wird die Tunika einfach länger gehalten - bis zum Knöchel.<br><br>
      Werden mehrere Tuniken übereinander getragen, sollte das Unterkleid dünner und länger als das etwas weitere
      Oberkleid sein.
    </p>
    <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%201.png" alt="left-image">
    <br>
    <br>
    <u>Hose</u>
    <p>Da es ja - wie schon erwähnt - die Hose im heutigen Sinn noch nicht gab, aber die meisten für eine Bruche mit
      Beinlingen nicht mutig genug sind, ist es üblich geworden, dass man sich hier mit einem sehr einfachen
      Hosenschnitt aus heutiger Zeit behilft. Die Hose sollte Gummizug - oder noch besser - ein Zugband haben. In der
      Läge ist von Knöchellang bis kurz unterhalb des Knie - dann evtl. auch mit
      Zugband gebunden - alles möglich.<br><br>

      violet - innere Beinlänge = zusammen nähen<br>
      grün - 1/4 Bauchumfang = Fußweite säumen<br>
      schwarz - Beinlänge = Stoffbruch<br>
      rot - halber Bauchumfang + ca. 10 cm = Bund: Tunnel für Zugband einarbeiten<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%202.png" alt="left-image">
      <br>
    </p>
    <u>Haube</u>
    <p>Eine Kopfbedeckung war damals unverzichtbar: als Schutz vor Sonne, Wind und Regen - man hielt sich ja
      ausschließlich im Freien auf.
      Später kamen dazu noch die Regeln von Kirche und Standeszugehörigkeit.<br>
      Hauben trugen ursprünglich Frauen und Männer (auch unter Helmen).<br>
      Für eine einfache Haube (erinnert stark an Babymützen) wird so gemessen:<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%203.png" alt="left-image"><br>
      <br>
      Hier werden drei Stoffteile benötigt. Zwei Seitenteile und ein Mittelteil.<br>
      Der Gesichtsumfang (blau) misst sich vom einen Kiefergelenk über die Stirn zum anderen Kiefergelenk.<br>
      Der Nackenumfang (grün) misst sich vom einen Kiefergelenk hinten herum zum anderen Kiefergelenk.<br>
      Rot misst sich von der Stirn über den Hinterkopf bis in den Nacken.<br>
      Die beiden Seitenteile werden mit dem Mittelteil entlang der roten Linie zusammengenäht.<br>
      Entlang der grünen Linie kann ein Tunnel (beim Zuschnitt an Zugabe<br>
      denken) für ein Bindeband genäht werden oder es werden einfach links und rechts Bänder angebracht.<br>
      Für Frauen war es auch gebräuchlich, einen Stoffstreifen von ca. 50 x 150 cm zu benutzen.<br>
    </p>

    <u>Gugel</u>
    <p>Die Gugel beschreibt man am besten als kurzes Cape (wie beim Friseur) mit Kapuze. Aus leichtem Stoff schützt es
      im Sommer vor Hitze und Sonnenbrand und im Winter - dann aus Wollstoff gefertigt - wärmt es und hält Wind und
      Regen ab.<br>
      Die Kapuze war gerundet wie eine Haube, einfach eckig oder später auch mit langem Zipfel. Die Gugel reicht über
      die Schultern bis ca. zu den Ellenbogen. Sie kann vorn ganz offen gearbeitet sein, aber auch die geschlossene
      Schlupfvariante wurde oft getragen.<br>
      Die beiden Kapuzenteile werden entlang der grünen Linie zusammengenäht und dann an die Gugel angenäht (rote
      Linien). Zuletzt wird alles versäumt (schwarze Schnittkanten).<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%204.png" alt="left-image"><br>
      <br>
    </p>
    <u>Umhang</u>
    <p>
      Der Umhang schützt beim Arbeiten den Rücken, stört aber auch nicht, wenn man sich<br>
      nach vorn beugt. Er kann bei Hitze auf den Schultern mit Bändern zusammengebunden werden. Die Maße können der
      folgenden Darstellung entnommen werden.<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%205.png" alt="left-image"><br>
      <br>
      An der vorderen Seite des Dreiecks kann nun noch ein ca. 10 cm langer Schnitt
      (schwarz) angebracht werden, um das Anziehen zu erleichtern.<br>
      Die Ecken des Umhangs kann man z.B. mit Hilfe eines großen Tellers schön abrunden.<br>
      An die Schnittkanten des dreieckigen Halsausschnittes wird eine Kapuze wie folgt genäht:<br>
      Zuerst wird der Stoff zusammengelegt (gestrichelte Bruchkante) und entlang der
      nun doppelt liegenden grünen Seite zur Kapuze zusammen genäht.<br>
      Dadurch ergibt rot und blau eine fortlaufende Stoffkante, die jetzt an den dreieckigen
      Halsausschnitt angenäht wird. Dabei ist darauf zu achten, dass die hintere Mitte der Kapuze (Zusammenstoß von
      roter und blauer Schnittkante) entsprechend der Zeichnung angeordnet ist.<br>
      Alle schwarze Schnittkanten von Kapuze und Umhang werden nun noch versäumt.
      Es kann noch beidseitig ein Lederband angebracht werden, um den Halsausschnitt
      verschließen zu können.<br>

    </p>

    <u>Mantel</u>
    <p>
      Der Mantel kleidet die schon besser gestellten, denn man benötigt schon ca. 4,5m - möglichst wollenen - Stoff, für eine Kapuze ca. 1m zusätzlich.<br>
      Dieser sollte 1,50m breit liegen (ergibt Mantellänge), die Farbauswahl wie oben beschrieben.<br>
      Zuerst also nimmt man 4,5x1,5 m Stoff. Davon schneidet man 1,5 m ab,
      die restlichen 3m werden 1mal so gefaltet, so das ein Quadrat von 1,5x1,5 m entsteht.<br>
      Das legt man auf das abgeschnittene Stoffstück.<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%206.png" alt="left-image"><br>
      <br>
      Nun wird mit Hilfe eines Stiftes und einer Schnur der Saumbogen gekennzeichnet und der Halsausschnitt zugeschnitten.<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%207.png" alt="left-image"><br>
      <br>
      So entsteht ein Halbkreis und ein Viertelkreis. Der Viertelkreis wird nun noch einmal halbiert.<br>
      <br>
      <img class="gewandung-grafik" src="assets/Tross/Gewandung/Gewandung%20Grafik%208.png" alt="left-image"><br>
      <br>
      Nun müssen nur noch alle Außenkanten eingesäumt werden, am besten von Hand.
      Verschlossen wird das Ganze mit Schnüren oder einer Fibel.
      Zusätzlich kann man noch eine Kapuze annähen.
    </p>
  </div>


</div>
