<footer class="footer">
  <div class="footer-section kontakt">
    <h3>Kontakt</h3>
    <p class="footer-text">Verein "Historischer Besiedlungszug A.D. 1156" e. V.<br>
      E-Mail: info&#64;historischer-besiedlungszug.de<br>
      Schönborner Straße 11b<br>
      09669 Frankenberg OT Sachsenburg
    </p>
  </div>
  
  <div class="footer-section">
    <h3>Social Media</h3>
    <div class="social-icons">
      <a href="https://www.facebook.com/HistorischerBesiedlungszug1156/" target="_blank">
        <img src="assets/fb_icon.png" alt="Facebook">
      </a>
      <a href="#" target="_blank">
        <img src="assets/yt_icon.png" alt="YouTube">
      </a>
      <a href="https://www.instagram.com/historischer_besiedlungszug/" target="_blank">
        <img src="assets/insta_icon.png" alt="Instagram">
      </a>
    </div>
  </div>

  <div class="footer-section weiteres">
    <h3>Rechtliches</h3>
    <a routerLink="/impressum"><p>Impressum - AGB</p></a>
    <a routerLink="/dsgvo"><p>DSGVO</p></a>
    <a routerLink="/faq"><p>FAQ - Häufige Fragen</p></a>
  </div>
</footer>
