<footer class="footer">
  <div class="footer-section kontakt">
    <p class="footer-text">Verein “Historischer Besiedlungszug A.D. 1156” e. V.<br>
      Telefon: +49 (321) 21436999<br>
      E-Mail: info&#64;historischer-besiedlungszug.de<br>
      <br>
      Schönborner Straße 11b 09669 Frankenberg OT Sachsenburg<br>
    </p>
  </div>
  <div class="footer-section">
    <div class="social-icons">
      <a href="https://www.facebook.com/HistorischerBesiedlungszug1156/">
        <img src="assets/fb_icon.png" alt="Facebook"></a>
      <img src="assets/yt_icon.png" alt="YouTube">
      <a href="https://www.instagram.com/historischer_besiedlungszug/"><img src="assets/insta_icon.png" alt="Instagram"></a>
    </div>
  </div>

  <div class="footer-section weiteres">
    <a routerLink="/impressum"><p> Impressum - AGB</p></a><br>
    <a routerLink="/dsgvo"><p> DSGVO</p></a><br>
    <a routerLink="/faq"><p> FAQ - Häufige Fragen</p></a><br>

  </div>
</footer>
