<footer class="footer">
  <div class="footer-section kontakt">
    <p class="footer-text">Verein “Historischer Besiedlungszug A.D. 1156” e. V.<br>
      Telefon: +49 (321) 21436999<br>
      E-Mail: info&#64;historischer-besiedlungszug.de<br>
      <br>
      Am Schloß 1, 09669 Frankenberg / OT Sachsenburg<br>
      Postfach 1142<br>

    </p>
  </div>
  <div class="footer-section">
    <div class="social-icons">
      <img src="assets/fb_icon.png" alt="Facebook">
      <img src="assets/yt_icon.png" alt="YouTube">
      <img src="assets/insta_icon.png" alt="Instagram">
    </div>
  </div>

  <div class="footer-section weiteres">
    <a routerLink="/impressum"><p> Impressum - AGB</p></a><br>
    <a routerLink="/dsgvo"><p> DSGVO</p></a><br>
    <a routerLink="/faq"><p> FAQ - Häufige Fragen</p></a><br>

  </div>
</footer>
