.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-text {
  text-align: center;
  width: 30%; /* Anpassung je nach benötigter Breite */
}

.image-text img {
  width: 100%; /* Bilder responsive machen */
  height: auto;
}
