<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Neuigkeiten.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Neuigkeiten</h1>
    <h1>News 2025</h1>

    <h2>Streckenplan 2025</h2>
    <div class="handzettel-container">
      <img src="assets/neuigkeiten/streckenplan25.jpg" alt="Streckenplan2025">
    </div>
    <hr>
    <p class="info-text">Am 24.05. findet wieder ein Arbeitseinsatz in Vorbereitung auf den Historischen Besiedlungszug
      statt. Wir freuen uns über jede helfende Hand.<br/> <b>Ort:</b> Am Schloß 1, 09669 Frankenberg/Sa<br/>
      <b>Uhrzeit:</b> Start gegen 10 Uhr</p>
    <hr>
    <div class="handzettel-container">
      <img src="assets/neuigkeiten/handzettel2025_2 (1).jpg" alt="Handzettel 2025 Teil 1">
      <img src="assets/neuigkeiten/handzettel2025_2 (2).jpg" alt="Handzettel 2025 Teil 2">
    </div>
    <hr>
    <h2>Bilder aus Rochlitz</h2>
    <app-gallery-lightbox [customAlbums]="rochlitzImages" [hideYearSelector]="true"></app-gallery-lightbox>
    <p class="info-text">Veranstaltung des Tourismusverbandes auf dem Rochlitzer Berg zur Saisoneröffnung</p>

    <hr>
    <h1>News 2024</h1>
    <div class="left-right">
      <div class="left">
        <img class="streckenplan" src="assets/neuigkeiten/handzettel2025_1.jpg" alt="handzettel2025_1">
      </div>
      <div class="right">
        <img class="streckenplan" src="assets/neuigkeiten/handzettel2025_2.jpg" alt="handzettel2025_2">
      </div>
    </div>
  </div>
</div>

