<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Neuigkeiten.jpg'"></app-banner-img>
  <div class="container">
    <h1>News</h1>
    <h2>Streckenplan</h2>
    <div style="height: 30px"></div>
    <div class="center">
      <div>
        <img class="streckenplan" src="assets/neuigkeiten/streckenplan.jpg">
      </div>
      <div style="height: 30px"></div>
      <p class="info">

        DATUM: 29.06.2024 - 07.07.2024 <br>

        STARTORT: Chemnitz OT Ebersdorf (09131)<br>

        ZIELORT: Sachsenburg (09669)<br>

      </p>
    </div>

    <h2>WICHTIG! DVD</h2>
    <p>

      Um abschätzen zu können, ob sich der Einsatz für unseren Filme-Meister Imre wieder lohnt, müssten wir vorab
      wissen, wieviele Siedler einen oder mehrere Vereinsfilm(e) vom diesjährigen HBZ haben wollen. Bitte gebt uns dazu
      in den "Optionalen Fragen" schon bei der Anmeldung eine Rückmeldung!

      Die DVDs würden dann zum Siedlertreffen ausgegeben bzw. bei Nichtteilnahme auch zugesandt. Kostenpunkt wären ca.
      35 Euro ggf. plus Versandkosten.

    </p>

    <div style="height: 40px"></div>

    <p>
      <u>Der 30. Historische Besiedlungszug findet in der Zeit vom 29.06.-07.07.2024 in Mittelsachsen statt. Die genauen
      Orte werden noch bekannt gegeben.</u><br>
      <br>
      Der 30. Historische Besiedlungszug ist wie folgt geplant:<br>
      <br>
      -Beginn auf dem „Fischerhof“ (Mittweidaer Str. 131, 09131 Chemnitz OT Ebersdorf)<br>
      <br>
      -Ende auf dem „Seidelhof“ (Mittweidaer Str. 57, 09669 Frankenberg OT Sachsenburg)<br>
      <br>
      -Samstag Anreise<br>
      <br>
      -Sonntag erste Etappe<br>
      <br>
      -Montag Ruhetag<br>
      <br>
      -Dienstag zweite Etappe<br>
      <br>
      -Mittwoch Ruhetag<br>
      <br>
      -Donnerstag dritte Etappe<br>
      <br>
      -Freitag Ruhetag
      <br>
      -Samstag vierte Etappe<br>
      <br>
      -Sonntag Abreise<br>
      <br>
      Nach den guten Erfahrungen der letzten Jahre und dem Wunsch der Mitglieder werden wir nach jedem Tag unterwegs
      wieder einen Ruhetag einlegen.<br>
      <br>
      Beim Lageraufbau wird es nur einen kleinen "Voraustrupp" für die Wasserversorgung geben. Für alle weiteren
      Arbeiten ist die Gemeinschaft der Siedler zuständig. Dabei wird die Mithilfe aller gebraucht und erwartet.<br>
      <br>
      Dieses funktionelle Miteinander kommt dem ursprünglichen Gedanken der Besiedlung nahe und war damals
      überlebensnotwendig.<br>
      <br>
      Für eine feste Buchung ist eine Anzahlung innerhalb von 14 Tagen in Höhe von 100€ pro angemeldete Person mit
      Angabe der Registrierungsnummer auf das nachfolgend genannte Konto zu überweisen.<br>
      <br>
      Die restliche Teilnahmegebühr ist bis spätestens 01.05.2024 auf das gleiche Konto zu überweisen. Bitte selbst
      daran denken!<br>
      <br>
      Historischer Besiedlungszug eV<br>
      <br>
      IBAN: DE83870520000190046341<br>
      <br>
      BIC-Code: WELADED1FGX<br>
      <br>
      Sparkasse Mittelsachsen<br>
      <br>
      Erfolgt die Anzahlung innerhalb der genannten Frist nicht, werden die gebuchten Plätze bei Bedarf nachfolgenden
      Anmeldern zur Verfügung gestellt.<br>
      <br>
      ACHTUNG: Nichtzahlung führt nicht automatisch zur Stornierung. Solltet Ihr euch gegen eine Teilnahme entscheiden,
      ist eine Abmeldung unbedingt erforderlich! Die Info zu Stornogebühren findet ihr in der Anlage "AGB".<br>
      <br>
      Die Verpflegung erfolgt durch Gastronomen, die auch alkoholische und alkoholfreie Getränke zum Kauf mit
      anbieten.<br>
      <br>
      Die Teilnahme von Kindern und Jugendlichen ist nur in Begleitung eines Erziehungsberechtigten oder einer vom
      Erziehungsberechtigten beauftragten Person möglich. Ab vollendeten 16. Lebensjahr ist die alleinige Teilnahme
      möglich.<br>
      <br>
      Für alle Kinder und Jugendlichen ohne Begleitung der Sorgeberechtigten ist das Begleitschreiben "SIEDLERPASS"
      zwingend notwendig! (Siedlerpass - siehe Anhang)<br>
      <br>
      Beim Mitführen von Hunden ist eine Tierhalterhaftpflichtversicherung anzuraten. Für die mitgeführten Tiere ist ein
      gültiger Impfausweis auf Verlangen vorzuzeigen!<br>
      <br>
      Bei der Mitführung von Pferden ist zu beachten:<br>
      <br>
      - Der Besiedlungszug stellt kostenlose Weideflächen und Grünfutter zur Verfügung und schließt eine
      Veranstalterhaftpflicht für die Zeit des Besieldungszuges ab. Der Besiedlungszug übernimmt keine Haftung für die
      mitgebrachten Pferde.<br>
      <br>
      - Der Pferdehalter versichert, dass er einen gültigen Impfausweis des/der mitgeführten Pferde/s, Koppelmaterial
      incl. eines eigenes Weidegeräts, sowie eigene Futter- und Wasserbehälter mitbringt. Er stimmt zu, die
      Betreuung/Versorgung des Pferdes während des Besiedlungszuges zu übernehmen und eigenständig für die Sicherheit
      während des fahrenden Zuges zu sorgen. Außerdem schließt er eine Haftpflichtversicherung für die Pferde ab.<br>
      <br>
      Wer Interesse hat, im Org-Team mitzuwirken, d.h. vor und vor allem während des Besiedlungszuges feste Aufgaben zu
      übernehmen (dafür mit geringerem Teilnehmerbeitrag), gibt dies im Kommentarfeld mit an oder schreibt dies direkt
      an anmeldung&#64;historischer-besiedlungszug.de. Der Vorstand entscheidet dann über Bedarf und Kapazität im
      Org-Team.<br>
      <br>
      Bitte meldet nur die eigene Familie als Gruppe an!<br>
      <br>
      Für Freunde, Nachbarn etc. ist eine eigene Anmeldung wichtig, da sie nur so direkt auch Informationen und
      Zahlungshinweise per Email erhalten.<br>
      <br>
      Sollte in einer der Anmeldestaffeln die Anzahl der Plätze auf 0 stehen, sendet bitte eine Mail an
      anmeldung&#64;historischer-besiedlungszug.de Bei vorhandener Kapazität, können Plätze zwischen den Kategorien
      verschoben werden und danach könnt ihr euch anmelden.<br>
      <br>
      Die aktuell gültigen Vorschriften des Gesundheitsamtes bezüglich Corona etc. müssen umgesetzt werden, ebenso sind
      bestehende Hygieneauflagen zu beachten.<br>
      <br>
      Sollte durch behördliche Auflagen nur ein HBZ mit kleiner Teilnehmerzahl möglich sein, wird dieser automatisch
      eine "Mitglieder-Veranstaltung" zu der nur Mitglieder und deren engster Familienkreis Zugang haben. (auch dafür
      ist die Anmeldung in "Familien-Gruppen" wichtig)<br>
      <br>
      Eine genaue Bestätigung zur Veranstaltung kann in solchem Fall nur kurzfristig erfolgen.<br>
      <br>
      Die Teilnehmerbeiträge werden zu mindestens 85% zurückerstattet, wenn die Durchführung aufgrund behördlicher
      Auflagen unzumutbar werden sollte.<br>
      <br>
      Wir empfehlen, eine Reiserücktrittsversicherung abzuschließen.<br>
      <br>
      AGBs: Mit dem Absenden der Anmeldung bestätige ich, dass ich die AGB, sowie (sofern für mich zutreffend) die
      Hinweise zur Teilnahme von Minderjährigen und Mitführung von Tieren gelesen habe und mit diesen einverstanden bin.<br>
      (Siehe auch "Häufige Fragen")<br>
    </p>

  </div>
</div>

