@import '../../../styles';

.main {
  background-color: #ffeeda;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  overflow: hidden;
  padding-bottom: 20px;
}



.streckenplan{
  width:100%;
  max-width: 600px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info{
  font-size: 24pt;
  line-height: 40pt;
  font-family: Arial, serif;
}

.left-right {
  display: grid;
  grid-template-columns: 50% 50%; /* Definiert die Breite der Spalten */
  justify-items: center; /* Zentriert die Inhalte horizontal */
  align-items: start; /* Start-Ausrichtung vertikal für alle Inhalte */
  margin-top: 100px;

}
