<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Tross.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Tross</h1>
    <div class="left-right">
      <div class="left">
        <h1>Tross</h1>
        <p>Otto von Wettin, später Otto der Reiche genannt, rief 1156 Franken, Thüringer, Niedersachsen und Flamen als Siedler in die Mark Meißen. In harter Arbeit rodeten Sie den Urwald und legten Waldhufendörfer an. Diese Landnahme im mittelsächsischen Gebirgsvorland hatte für die Region eine große Bedeutung.<br>
          Die Besiedlung der Striegistäler ist im wesentlichen für den Zeitraum um 1156 bis 1162 verbürgt.<br>
          Der Besiedlungszug - ist deutschlandweit seit 1994 das einzigste Kulturspektakel dieser Art.<br>
          Alljährlich wird er nach alter Überlieferung in den Landen der Striegistäler durchgeführt.<br>
          Bestehend aus 15 Planwagen mit ihren Pferden, 150 Siedlern und Kindern, Eselgespann, Ziegen,<br>
          Hunden und anderem Getier bewegt sich der Tross an 4 Tagen jeweils ca. 15-25 km von Rastplatz zu Rastplatz, und das bei jedem Wetter.<br>
          Das Anliegen unseres Vereins ist es, mit allen Beteiligten die Geschichte der Besiedlung unserer Heimat nachzuempfinden und durch unser Erscheinen in den Städten und Dörfern altes Brauchtum zu veranschaulichen.<br>
        </p>
      </div>
      <div class="right">
        <img src="../../assets/Verein/Vorstand.jpg">
      </div>
    </div>
    <div style="height: 50px"></div>
    <div class="bilder">
      <h1>Bilder</h1>
      <p> Hier werden bilder eingefügt
      </p>
    </div>
    <div style="height: 50px"></div>
    <div class="left-right">
      <div class="left">
        <div style="height: 50px"></div>
      </div>
      <div class="right vereinsziele">
      </div>
    </div>
  </div>

</div>
