<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Verein.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Einblicke</h1>
    <h1>Impressionen</h1>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_1"
                        folder2="assets/Tross/Impressionen/Abschnitt_2"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_3"
                        folder2="assets/Tross/Impressionen/Abschnitt_4"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_5"
                        folder2="assets/Tross/Impressionen/Abschnitt_6"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_7"
                        folder2="assets/Tross/Impressionen/Abschnitt_8"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_9"
                        folder2="assets/Tross/Impressionen/Abschnitt_10"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_11"
                        folder2="assets/Tross/Impressionen/Abschnitt_1"></app-dual-slideshow>
  </div>

</div>
