<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Anmeldung.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Anmeldung</h1>
    <h1>Anmeldung</h1>
    <p>Liebe Siedler und alle die es werden wollen ;-)<br>
      Interessierte können sich für den kommenden Besiedlungszug 2026, am 04.07.26 - 12.07.26 hier anmelden. Die Anmeldung wird vorraussichtlich ab November verfügbar sein.<br>
    </p>
    <br>
      <a class="custom-button-1" href="http://historischer-besiedlungszug.de/anmeldetool/" target="_blank" class="custom-button-1">
        Anmelden
      </a>
    <br>
    <br>
    <br>
    <h1>Preise</h1>
    <table>
      <tr>
        <td>Erwachsener:</td>
        <td style="text-align: right;">450</td>
        <td>EUR</td>
      </tr>
      <tr>
        <td>Kind 10-14:</td>
        <td style="text-align: right;">335</td>
        <td>EUR</td>
      </tr>
      <tr>
        <td>Kind 6-9:</td>
        <td style="text-align: right;">300</td>
        <td>EUR</td>
      </tr>
      <tr>
        <td>Kind 3-5:</td>
        <td style="text-align: right;">180</td>
        <td>EUR</td>
      </tr>
      <tr>
        <td>Kinder unter 3:</td>
        <td style="text-align: right;">0</td>
        <td>EUR</td>
      </tr>
    </table>
  </div>

</div>
