<div class="year-selector" *ngIf="!hideYearSelector && !customAlbums">
  <button class="custom-button-1" *ngFor="let year of years" (click)="onYearChange(year)" [class.active]="year === selectedYear">
    {{ year }}
  </button>
</div>

<div class="gallery">
  <div class="image" *ngFor="let album of albums; let i = index">
    <img [src]="album.thumb" (click)="open(i)" alt="Bild {{i + 1}}">
  </div>
  <!-- Changed from regular link to styled button -->
  <a *ngIf="!customAlbums" class="custom-button-1 gallery-link" [href]="'/gallery/index.html'" target="_blank">Zur Bildergalerie</a>
</div>

