<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Home.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">HOME</h1>
    <div class="grid-container">
      <div class="left-image">
        <img src="assets/Home/Home_links.jpg" alt="left-image">
      </div>
      <div class="center">
        <h1>Erlebe ein mittelalterliches Abenteuer</h1>
        <p class="info-text-intro">
          Hallo und herzlich willkommen auf den Seiten des Vereins „Historischer Besiedlungszug A.D. 1156" e. V.
        </p>
        <div class="medieval-ornament"></div>
        <p class="info-text medieval-first-paragraph">
          Wir möchten dich entführen in die Zeit des 12. Jahrhunderts, in der die Besiedlung des heutigen Sachsens begann.
          In mittelalterlicher Gewandung ziehen wir durch die Lande mit Planwagen und Pferden, begleitet von Musik,
          Gaukelei und Theateraufführungen. Abends lassen wir den Tag am Lagerfeuer mit Gesang unter freiem
          Sternenhimmel ausklingen. Erlebe Abenteuer, Freiheit, das Lagerleben und wahre Freundschaften, aber auch Herausforderungen.
          Eine Zeitreise ins Jahr 1156, die dir die perfekte Gelegenheit bietet, vom Alltag abzuschalten und zur Ruhe zu kommen.
        </p>
        
        <div class="medieval-action-area">
          <a class="custom-button-1 medieval-cta" href="http://historischer-besiedlungszug.de/anmeldetool/" target="_blank">
            Mitmachen
          </a>
        </div>
        
        <div class="divider-ornament"></div>
        
        <h1>Kontakt</h1>
        <!-- Kontaktformular mit FormSubmit -->
        <div class="medieval-scroll">
          <form class="medieval-form" action="https://formsubmit.co/092634f5da1590e87cbc3bfdb91a08a1" method="POST">
            <div class="input-container">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required>
            </div>
            <div class="input-container">
              <label for="email">E-Mail</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
              <label for="message">Nachricht</label>
              <textarea id="message" name="message" rows="4" required></textarea>
            </div>

            <!-- Hidden field to disable captcha -->
            <input type="hidden" name="_captcha" value="false">

            <!-- Submit Button -->
            <button type="submit" class="custom-button-1">Absenden</button>
          </form>
        </div>
      </div>
      <div class="right-image">
        <img src="assets/Home/Home_rechts.jpg" alt="right-image">
      </div>
    </div>
  </div>
</div>
