<div class ="header-bg">

</div>
<header class="header-bar">
  <nav>
    <a routerLink="/main" class="nav-link">HOME</a>
    <a routerLink="/sponsoren" class="nav-link">SPONSOREN</a>
    <a routerLink="/verein" class="nav-link">VEREIN</a>
    <img class="wappen" src="assets/wappen2.png" alt="wappen">
    <a routerLink="/tross" class="nav-link">TROSS</a>
    <a routerLink="/bf" class="nav-link">BILDER & FAKTEN</a>
    <a routerLink="/neuigkeiten" class="nav-link">NEUIGKEITEN</a>
  </nav>
</header>
<button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/main">HOME</button>
  <button mat-menu-item routerLink="/sponsoren">SPONSOREN</button>
  <button mat-menu-item routerLink="/verein">VEREIN</button>
  <button mat-menu-item routerLink="/tross">TROSS</button>
  <button mat-menu-item routerLink="/bf">BILDER & FAKTEN</button>
  <button mat-menu-item routerLink="/neuigkeiten">NEUIGKEITEN</button>
</mat-menu>

<main>
  <router-outlet></router-outlet> <!-- Hier werden die Komponenten gerendert -->
</main>
<footer class="footer">
  <div class="footer-section kontakt">
    <h3>Kontakt</h3>
    <p>Telefon: +123456789</p>
    <p>Email: exampleexample.com</p>
    <!-- Weitere Kontaktinformationen hier einfügen -->
  </div>
  <div class="footer-section">
    <h3>Folge Uns</h3>
    <div class="social-icons">
      <img src="assets/fb_icon.png" alt="Facebook">
      <img src="assets/yt_icon.png" alt="YouTube">
      <img src="assets/insta_icon.png" alt="Instagram">
    </div>
  </div>

  <div class="footer-section">
    <h3>Abonniere unseren Newsletter</h3>
    <form>
      <input type="email" placeholder="Deine Email-Adresse">
      <button type="submit">Abonnieren</button>
    </form>
  </div>
</footer>


