@import '../styles.scss';
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hamburger-menu{
  display: none;
  position: fixed;
  top: 0; /* An den oberen Rand des Containers anpassen */
  left: 0; /* An den rechten Rand des Containers anpassen */
  z-index: 1000; /* Stellt sicher, dass das Menü-Icon über anderen Elementen liegt */
}

.hamburger-icon{
  color: white;
  transform: scale(3);
  margin: 30px;
}

.close-icon{
  color: white;
  transform: scale(3);
}

.logo-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0; /* oder anpassen, um es vertikal zu zentrieren */
  z-index: 2; /* Stellt sicher, dass das Logo über den anderen Elementen liegt */
}

.wappen{
  width: 80px;
  margin-top: 10px;
}
.header-bar {
  width: 100%;
  height: $header-height;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
}

.nav-left, .nav-right {
  display: flex;
  flex: 1;
}

.nav-left {
  justify-content: flex-end;
  padding-right: 40px; /* Abstand anpassen, um Platz für das Wappen zu schaffen */
}

.nav-right {
  justify-content: flex-start;
  padding-left: 40px; /* Abstand anpassen, um Platz für das Wappen zu schaffen */
}


.header-bar nav a { /* Stil für die Link-Elemente */
  /* Fügt Abstand zwischen den Links hinzu */
  margin-right: 2vw;
  margin-left: 2vw;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: white; /* Setzt die Textfarbe. Passen Sie dies nach Bedarf an */
  border: none; /* Entfernt den Button-Rahmen */
  outline: none; /* Entfernt den Fokus-Rahmen */
  font-family: "Frank Ruehl CLM",serif;
  font-size: 14px;
}

.header-bar nav a:hover {
  text-decoration: underline; /* Fügt Unterstreichung beim Hover hinzu */
}

.header-bg{
  width: 100%;
  position: fixed;
  height: $header-height;
  background-color: #771c1c;
}


.kontakt{
  text-align: left;
}

@media (max-width: 768px) {
  .header-bar, .header-bg {
    display: none;
  }
  .hamburger-menu{
    display: block ;
  }

  .logo-container {
    position: absolute;
    margin-top: 20px;
  }
  .wappen{
    width: 26vw;
    margin-top: 70px;
  }
}

@media (max-width: 1000px) {
  .nav-left{
    font-size: 11px;
  }
  .nav-right{
    font-size: 11px;
  }

}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.9); /* oder eine andere Farbe */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 500;
}

.fullscreen-menu.open {
  transform: translateX(0);
}

.menu-navigation a {
  color: #fff; /* oder eine andere Farbe */
  padding: 20px;
  text-decoration: none;
  font-size: 34px; /* oder eine andere Größe */
  display: block;
  font-family: "Frank Ruehl CLM", serif;
  line-height: 40px;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

