
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hamburger-menu{
  display: none;
  position: fixed;
  top: 0; /* An den oberen Rand des Containers anpassen */
  left: 0; /* An den rechten Rand des Containers anpassen */
  z-index: 1000; /* Stellt sicher, dass das Menü-Icon über anderen Elementen liegt */
}

.hamburger-menu .mat-icon {
  color: white;
  transform: scale(2);
  margin: 12px;
}

.header-bar {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
}

.wappen{
  width: 80px;
  margin-top: 10px;
}

.header-bar nav {
  display: flex;
}

.header-bar nav a { /* Stil für die Link-Elemente */
  /* Fügt Abstand zwischen den Links hinzu */
  margin: 20px 10px 0;
  padding: 5px 15px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: white; /* Setzt die Textfarbe. Passen Sie dies nach Bedarf an */
  border: none; /* Entfernt den Button-Rahmen */
  outline: none; /* Entfernt den Fokus-Rahmen */
  font-family: "Frank Ruehl CLM",serif;
}

.header-bar nav a:hover {
  text-decoration: underline; /* Fügt Unterstreichung beim Hover hinzu */
}

.header-bg{
  width: 100%;
  position: fixed;
  height: 66px;
  background-color: #771c1c;
}


.kontakt{
  text-align: left;
  margin-left: 50px;
}

.social-icons img {
  width: 30px; /* Setzen Sie die Breite der Social-Media-Icons */
  margin: 5px; /* Fügen Sie Abstand zwischen den Icons hinzu */
  cursor: pointer;
}



.footer {
  width: 100%;
  background-color: #8a9a5b; /* Hintergrundfarbe des Footers */
  color: black; /* Textfarbe des Footers */
  padding: 20px 0; /* Innenabstand oben und unten */
  display: flex;
  justify-content: space-between; /* Platzieren Sie die Footer-Abschnitte gleichmäßig */
  align-items: flex-start; /* Ausrichtung des Inhalts nach oben */
  bottom: 0; /* Setzen Sie den Footer immer ans untere Ende des Viewports */
  font-family: "Frank Ruehl CLM", serif;
  font-size: 12pt;
}

.footer-section {
  flex: 1; /* Alle Footer-Abschnitte sollen gleich groß sein */
  text-align: center; /* Zentriert den Inhalt horizontal */
}

.footer input[type="email"] {
  padding: 5px; /* Innenabstand für das Eingabefeld */
  width: 200px; /* Breite des Eingabefelds */
}

.footer button {
  padding: 5px 10px; /* Innenabstand für den Button */
  background-color: #cc6223; /* Hintergrundfarbe des Buttons */
  color: #fff; /* Textfarbe des Buttons */
  border: none; /* Entfernen Sie den Rahmen des Buttons */
  cursor: pointer; /* Zeigen Sie den Cursor an, wenn Sie über den Button fahren */
  &:hover {
    background-color: #be5b20;
  }
}

.footer h3{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 16pt;
}
@media (max-width: 768px) {
  .header-bar, .header-bg {
    display: none;
  }
  .hamburger-menu{
    display: block ;
  }
}
