
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header-bar {
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
}

.header-bar nav {
  display: flex;
}

.header-bar nav a { /* Stil für die Link-Elemente */
  margin: 0 10px; /* Fügt Abstand zwischen den Links hinzu */
  padding: 5px 15px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: black; /* Setzt die Textfarbe. Passen Sie dies nach Bedarf an */
  border: none; /* Entfernt den Button-Rahmen */
  outline: none; /* Entfernt den Fokus-Rahmen */
  font-family: "Frank Ruehl CLM",serif;
}

.header-bar nav a:hover {
  text-decoration: underline; /* Fügt Unterstreichung beim Hover hinzu */
}
