<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Verein.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Verein</h1>
    <div class="left-right">
      <div class="left">
        <h1>Vorstand</h1>
        <p><b>Vorstandsmitglieder:</b><br>
          Hans Perter<br>
          Reinhard Perter<br></p>
      </div>
      <div class="right">
        <img src="../../assets/Verein/Vorstand.jpg">
      </div>
    </div>
    <div class="geschichte">
      <h1>Geschichte</h1>
      <p>zum Verein “Historischer Besiedlungszug A.D. 1156” e.V.<br>
        Eintragung unter der Nummer VR 740 des Vereinsregister beim Amtsgericht Hainichen am 07.12.1995<br>
        Der “Historische Besiedlungszug” fand erstmalig 1994 statt und lief bis 1996 unter dem “Zweckverband
        Striegistal”<br>
        der “Historische Besiedlungszug” fand ohne Unterbrechung einmal im Jahr (Sommerferien) statt<br>
        mit Wirkung vom 01.01.1997 tritt der Verein in den bestehenden Pachtvertrag des Objektes “Weidegut 04 in
        Langenstriegis” ein<br>
        der Verein verpflichtet sich zur Errichtung einer historischen Schaustätte auf dem Weidegut<br>
        in den folgenden Jahren entstanden der Vereinsraum, Ausstellungsräume und das Seitengebäude wurde mittels
        Lehmbauweise saniert (allerdings mit Hilfe und Unterstützung von ABM)<br>
        Dezember 2001 Abgabe des Objektes “Weidegut” und Verlegung des Vereinssitzes auf die Eulendorfer Str. 2 in
        Frankenberg/ OT Langenstriegis<br>
        von Dezember 2001 bis März 2002 fanden mehrere Arbeitseinsätze zur Beräumung des Weidegutes statt<br>
        Suche nach neuem Vereinsdomizil<br>
        Einzug auf Schloß Sachsenburg im Sommer 2002 - Ausbau des neuen Domizils<br>
      </p>
    </div>
  </div>

</div>
