<div class="main">
  <div class="header-spacer"></div>
  <img class="hero-img" src="assets/main.png" alt="hero-image">

  <div class="grid-container">
    <div class="left-image">
      <img src="assets/left.png" alt="left-image">
    </div>
    <div class="center">
      <h1 class="heading">Erlebe das Mittelalter</h1>
      <p class ="info-text-intro">
        Hallo und herzlich willkommen auf den spannenden Seiten des Verein "Historischer Besiedlungszug A.D. 1156" e. V.<br/>
      </p>
      <div style="height: 10px"></div>
      <p class ="info-text">
        Wir möchten Sie entführen in eine Zeit  im 12. Jahrhundert, in der die Besiedlung des heutigen Sachsen begann.  Jährlich stellen wir die Besiedlung mit allen Brauchtümern, Gesängen und  auch Umgangsformen auf ständig wechselnden Strecken dar. Dabei wird  besonderer Wert auf mittelalterliche Kleidung und Schuhwerk gelegt..<br/>.<br/>

        Sind Sie neugierig geworden? Machen Sie mit und sie bekommen interessante Einblicke in das Leben der Siedler.<br/>

        Wenn Sie sich für eine Teilnahme interessieren können Sie auf diesen Seiten erste Informationen erhalten und bei Bedarf gern Kontakt zu uns aufnehmen.
      </p>
      <button class="custom-button-1">Mitmachen</button>
      <h1 class="heading">Kontakt</h1>
      <div class="input-container">
        <label for="name">Name*</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="input-container">
        <label for="email">Your email*</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-container">
        <label for="message">Message*</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>

      <!-- Submit Button -->
      <button class="custom-button-1">Submit</button>
    </div>
    <div class="right-image">
      <img src="assets/right.png" alt="right-image">
    </div>
  </div>
</div>
