<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Gästebuch.jpg'"></app-banner-img>
  <div class="container">
    <h1>Gästebuch</h1>
    <p>Hier ist platz für Kommentare aller art!<br>
      Wir freuen uns ganz besonders über Feedbeck und Erfahrungsberichte.<br>
    </p>
    <h2>Kommentare</h2>
    <app-comments></app-comments>
    <h2 class="heading-input-section">Kommentar erstellen</h2>
    <div class="input-section">
      <div class="input-container">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="newCommentAuthor" required>
      </div>
      <div class="input-container">
        <label for="message">Nachricht</label>
        <textarea id="message" name="message" [(ngModel)]="newCommentMessage" rows="4" required></textarea>
      </div>
      <label style="margin-bottom: 5px">Bitte löse das captcha um den Sendebutton anzuzeigen</label>
      <div class="recaptcha-container">
        <re-captcha (resolved)="onCaptchaResolved($event)" siteKey="6LekoCYqAAAAAI1AaWpwAVl6pz9SW_gjPfmiL7Mf"></re-captcha>
      </div>
      <button class="custom-button-1" *ngIf="captchaVerified" (click)="submitComment()">Absenden</button>
    </div>
  </div>
</div>
