<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Tross.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Tross</h1>
    <div class="left-right">
      <div class="left">
        <h1>Tross</h1>
        <p>Otto von Wettin, später Otto der Reiche genannt, rief 1156 Franken, Thüringer, Niedersachsen und Flamen als
          Siedler in die Mark Meißen. In harter Arbeit rodeten Sie den Urwald und legten Waldhufendörfer an. Diese
          Landnahme im mittelsächsischen Gebirgsvorland hatte für die Region eine große Bedeutung.<br>
          Die Besiedlung der Striegistäler ist im wesentlichen für den Zeitraum um 1156 bis 1162 verbürgt.<br>
          Der Besiedlungszug - ist deutschlandweit seit 1994 das einzigste Kulturspektakel dieser Art.<br>
          Alljährlich wird er nach alter Überlieferung in den Landen der Striegistäler durchgeführt.<br>
          Bestehend aus 15 Planwagen mit ihren Pferden, 150 Siedlern und Kindern, Eselgespann, Ziegen,<br>
          Hunden und anderem Getier bewegt sich der Tross an 4 Tagen jeweils ca. 15-25 km von Rastplatz zu Rastplatz,
          und das bei jedem Wetter.<br>
          Das Anliegen unseres Vereins ist es, mit allen Beteiligten die Geschichte der Besiedlung unserer Heimat
          nachzuempfinden und durch unser Erscheinen in den Städten und Dörfern altes Brauchtum zu veranschaulichen.<br>
        </p>
      </div>
      <div class="right">
        <img src="assets/Verein/Vorstand.jpg">
      </div>
    </div>
    <div style="height: 50px"></div>
    <div class="bilder">
      <h1>Bilder</h1>
      <div class="button-grid">
        <button class="custom-button-1" (click)="toggleSlideshow(2010)">2010</button>
        <button class="custom-button-1">2011</button>
        <button class="custom-button-1">2012</button>
        <button class="custom-button-1">2013</button>
        <button class="custom-button-1">2014</button>
        <button class="custom-button-1">2015</button>
        <button class="custom-button-1">2016</button>
        <button class="custom-button-1">2017</button>
        <button class="custom-button-1">2018</button>
        <button class="custom-button-1">2019</button>
        <button class="custom-button-1">2020</button>
        <button class="custom-button-1">2021</button>
        <button class="custom-button-1">2022</button>
        <button class="custom-button-1">2023</button>
        <button class="custom-button-1">2024</button>
      </div>
      <h1 class="selectedYear" *ngIf="selectedYear">{{ selectedYear }}</h1>
      <app-slideshow *ngIf="slideshowVisible" class="slideshow"
                     [images]="['assets/Verein/Vorstand.jpg', 'assets/Verein/Vereinsziele.jpg']"></app-slideshow>
    </div>

    <div style="height: 50px"></div>
    <h1>Impressionen</h1>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_1"
                        folder2="assets/Tross/Impressionen/Abschnitt_2"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_3"
                        folder2="assets/Tross/Impressionen/Abschnitt_4"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_5"
                        folder2="assets/Tross/Impressionen/Abschnitt_6"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_7"
                        folder2="assets/Tross/Impressionen/Abschnitt_8"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_9"
                        folder2="assets/Tross/Impressionen/Abschnitt_10"></app-dual-slideshow>
    <app-dual-slideshow folder1="assets/Tross/Impressionen/Abschnitt_11"
                        folder2="assets/Tross/Impressionen/Abschnitt_1"></app-dual-slideshow>

    <div class="left-right">
      <div class="left leistungen">
        <h1>Leistungen</h1>
        <ul>
          <li><p>Vollverpflegung (4 Mahlzeiten am Tag)</p>
          <li><p>Unterkunft in Zelten</p>
          <li><p>Musikanten, Tanz, Jonglage, Bauerntheater(, Feuershow)</p>
          <li><p>Reiterspiele / Siedlerspiele</p>
          <li><p>historische Basteleien für Kinder</p>
          <li><p>Siedlerfest mit Gelage</p>
          <li><p>kostenloses Esel- und Ponyreiten</p>
          <li><p>1 Flasche Wasser pro Tag</p>
          <li><p>Lagerfeuerromantik</p>
          <li><p>und natürlich kaltes Wasser für die Hygiene!</p>
        </ul>

      </div>
      <div class="right">
        <h1>Streckenplan</h1>
        <img src="assets/main_right.jpg">
      </div>
    </div>

    <h1>Preise</h1>
    <p>aktuelle preise</p>

    <h1>Gewandung</h1>
    <p>Die Kleidung des einfachen Bauernvolkes um 1156.<br><br>
      Mit dem Besiedlungszug wird die historisch belegte Besiedlung der hiesigen Region um 1156 nachempfunden. Die
      Siedler waren in den meisten Fällen arme Bauernsöhne, die selbst noch Aussicht hatten, einen Hof zu erben, dazu
      Tagelöhner, Knechte und Mägde, sowie hin und wieder ein Handwerker. Dadurch ist die Art unserer Gewänder
      vorgegeben:<br><br>
      Die einfache, arme Landbevölkerung besaß nur wenige, vor allem einfache und zweckmäßige Kleidungsstücke. Die
      Stoffe waren handgewebt aus der Wolle der allgegenwärtigen Schafe und/oder aus Leinen (Flachs), teilweise auch aus
      den sehr robusten Fasern von Hanf und Brennessel. Um Kosten und Aufwand zu sparen wurden sie meist ungefärbt
      verarbeitet. Baumwolle oder gar Samt war damals in Europa noch nicht verbreitet und die von Kaufleuten ins Land
      gebrachten feinen Seidenstoffe konnten sich die Bauern natürlich nie leisten.<br><br>
      Sie hätten kostbare Stoffe auch nicht tragen dürfen, denn vom Kaiser wie auch von der Kirche wurden strenge Regeln
      zur Kleidung, wie z.B. deren Schnitt und auch die Farbe vorgegeben.<br><br>
      Aus diesem Grund heißt es: "Kleider machen Leute." = kennzeichnen Standeszugehörigkeit<br><br>
      Für Bauern erlaubt waren Natur- und Erdfarben: Brauntöne - zum Beispiel mit eingeweichten Außenschalen der Walnuss
      oder Eichenrinde. Seltener wurde blau verwendet, gefärbt mit der Waidpflanze. Grün war ziemlich aufwändig zu
      färben aus Blau und darauf Gelb mit Rainfarn, Birke, Reseda. Gelb allein stand für Sündhaftigkeit, also
      gesellschaftliche Außenseiter wie Dirnen. Schwarz wurde bis Ende des 14. Jhd. fast nur von Mönchen getragen.
      Einfache Rottöne - gefärbt mit Krapp - waren für alle Bevölkerungsschichten tragbar. Aber leuchtendes Rot mit
      Purpurschnecken oder Kermesläusen waren teuer und nur Kaiser, Papst und Adligen vorbehalten.<br><br>
      Getragen wurde eine einfach geschnittene, lange Tunika als Hemd, oft nur bis zu den Knien reichend. Darunter trug
      der Mann die Bruche (Unterhose): sie ähnelte einer kurzen, überbreiten Hose. In Brusthöhe wurde sie mit einem
      Strick festgebunden und bis auf Hüfthöhe heruntergerollt.<br><br>
      Daran wurden in der kälteren Jahreszeit zwei nicht miteinander verbundene Beinlinge<br><br>
      angeknüpft, die oft unterhalb der Knie mit Bändern gebunden wurden.<br><br>
      Die Frau trug oft zwei Tuniken / Hemden / Kittel - Kotta - übereinander, aber keine Unterwäsche. Dabei schaute das
      Unterkleid unter dem kürzer gehaltenen Überkleid heraus, auch an den Ärmeln. Seitlich wurden für eine bessere
      Bewegungsfreiheit oft Keile eingesetzt.<br><br>
      Übrigens waren damals nur Längsnähte üblich, auch Abnäher o.ä. waren noch nicht bekannt. Deshalb wurde die Tunika
      mittels Gürtel gerafft, auch um die Länge variieren zu können. Frauen benutzen später dazu auch eine Leibbinde,
      die zusätzlichen Halt gab und wärmte.<br><br>
      Bei der Arbeit wurde oft eine Schürze in Form eines Stoffstreifen vor dem Bauch über dem Gürtel getragen.<br><br>
      Man ging vorwiegend barfuß, im Winter trug man Holzpantoffel oder - wenn man hatte - einfache Bundschuhe aus
      Rindsleder. Statt Strümpfen wurden Stoffstreifen - Fußlappen - um die Füße gewickelt, manchmal sogar nur Heu oder
      Stroh.<br><br>
      Alle trugen eine Kopfbedeckung: Männer eine Haube, Frauen Hauben oder Tücher.<br><br>
      Zum Schutz vor Wetter und Kälte trug man Umhänge mit Kapuzen - meist aus wollenem Tuch - schulterlang als Gugel,
      waden- oder bodenlang als Mantel, der dann auch als Schlafdecke diente. Auf der Brust wurde der Umhang mit Bändern
      oder einer Fibel zusammengehalten.<br><br>
      Alles persönliche Habe, also Löffel, Messer, Allmosen- und Zunderbeutel wird am Gürtel getragen, der aus einem
      Strick, brettchengewebter Borte oder - seltener - Leder besteht.<br><br>
      Schmuck war sehr selten, manchmal waren die Kleider mit brettchengewebten Borten oder stickerei verziert.<br><br>
      Wer sich eine eigene Gewandung herstellen möchte, sollte bereits bei der Auswahl der Stoffe und Farben die
      damaligen Regeln beachten, also relativ grobe Stoffe aus Wolle, Leinen, ev. auch Baumwolle ungefärbt oder in nicht
      zu kräftigen Erd- oder Naturfarben.<br><br>
      Besonders "echt" wirken handgenähte Sachen, da es ja bekanntlich noch keine Nähmaschinen gab.<br><br>
      Siedler, die keine eigene Kleidung nähen oder kaufen möchten, haben die Möglichkeit, sich am ersten Tag des Zuges
      gegen eine kleine Gebühr und einen Pfand Kleidung auszuleihen. Wir verleihen Hosen, Röcke, Kleider,
      Oberbekleidung, Tuniken, Gugeln, Flaschentaschen und Hauben. Einzig warme Kleidung und ggf. ein Mantel sollten
      unbedingt selbst mitgebracht werden.<BR><BR>
    </p>
    <u>Tunika</u>
    <p>Dazu werden drei Stoffstücke benötigt. Die Maße sind der Abbildung zu entnehmen. Der Halsausschnitt kann
      alternativ auch aus einem Dreieck mit 20x20x20 cm bestehen (Spitze nach vorne).
      Zur besseren Bewegungsfreiheit wird ungefähr ab der Hüfte je ein Keil eingesetzt, der auf eine Breite von ca.
      30-40 cm Breite hinausläuft. (ggf. auch in der vorderen und hinteren Mitte = wohlhabender). Alternativ können an
      den Seiten auch zwei Schlitze gelassen werden.
      Für Frauen wird die Tunika einfach länger gehalten - bis zum Knöchel.<br><br>
      Werden mehrere Tuniken übereinander getragen, sollte das Unterkleid dünner und länger als das etwas weitere
      Oberkleid sein.
    </p>
    <u>Hose</u>
    <p>Da es ja - wie schon erwähnt - die Hose im heutigen Sinn noch nicht gab, aber die meisten für eine Bruche mit
      Beinlingen nicht mutig genug sind, ist es üblich geworden, dass man sich hier mit einem sehr einfachen
      Hosenschnitt aus heutiger Zeit behilft. Die Hose sollte Gummizug - oder noch besser - ein Zugband haben. In der
      Läge ist von Knöchellang bis kurz unterhalb des Knie - dann evtl. auch mit
      Zugband gebunden - alles möglich.<br><br>

      violet - innere Beinlänge = zusammen nähen<br>
      grün - 1/4 Bauchumfang = Fußweite säumen<br>
      schwarz - Beinlänge = Stoffbruch<br>
      rot - halber Bauchumfang + ca. 10 cm = Bund: Tunnel für Zugband einarbeiten<br>
      <br>
      BILD<br>
      <br>
    </p>
    <u>Haube</u>
    <p>Eine Kopfbedeckung war damals unverzichtbar: als Schutz vor Sonne, Wind und Regen - man hielt sich ja
      ausschließlich im Freien auf.
      Später kamen dazu noch die Regeln von Kirche und Standeszugehörigkeit.<br>
      Hauben trugen ursprünglich Frauen und Männer (auch unter Helmen).<br>
      Für eine einfache Haube (erinnert stark an Babymützen) wird so gemessen:<br>
      <br>
      BILD<br>
      <br>
      Hier werden drei Stoffteile benötigt. Zwei Seitenteile und ein Mittelteil.<br>
      Der Gesichtsumfang (blau) misst sich vom einen Kiefergelenk über die Stirn zum anderen Kiefergelenk.<br>
      Der Nackenumfang (grün) misst sich vom einen Kiefergelenk hinten herum zum anderen Kiefergelenk.<br>
      Rot misst sich von der Stirn über den Hinterkopf bis in den Nacken.<br>
      Die beiden Seitenteile werden mit dem Mittelteil entlang der roten Linie zusammengenäht.<br>
      Entlang der grünen Linie kann ein Tunnel (beim Zuschnitt an Zugabe<br>
      denken) für ein Bindeband genäht werden oder es werden einfach links und rechts Bänder angebracht.<br>
      Für Frauen war es auch gebräuchlich, einen Stoffstreifen von ca. 50 x 150 cm zu benutzen.<br>
    </p>

    <u>Gugel</u>
    <p>Die Gugel beschreibt man am besten als kurzes Cape (wie beim Friseur) mit Kapuze. Aus leichtem Stoff schützt es
      im Sommer vor Hitze und Sonnenbrand und im Winter - dann aus Wollstoff gefertigt - wärmt es und hält Wind und
      Regen ab.<br>
      Die Kapuze war gerundet wie eine Haube, einfach eckig oder später auch mit langem Zipfel. Die Gugel reicht über
      die Schultern bis ca. zu den Ellenbogen. Sie kann vorn ganz offen gearbeitet sein, aber auch die geschlossene
      Schlupfvariante wurde oft getragen.<br>
      Die beiden Kapuzenteile werden entlang der grünen Linie zusammengenäht und dann an die Gugel angenäht (rote
      Linien). Zuletzt wird alles versäumt (schwarze Schnittkanten).<br>
      <br>
      BILD<br>
      <br>
    </p>
    <u>Umhang</u>
    <p>
      Der Umhang schützt beim Arbeiten den Rücken, stört aber auch nicht, wenn man sich<br>
      nach vorn beugt. Er kann bei Hitze auf den Schultern mit Bändern zusammengebunden werden. Die Maße können der
      folgenden Darstellung entnommen werden.<br>
      <br>
      BILD<br>
      <br>
      An der vorderen Seite des Dreiecks kann nun noch ein ca. 10 cm langer Schnitt
      (schwarz) angebracht werden, um das Anziehen zu erleichtern.<br>
      Die Ecken des Umhangs kann man z.B. mit Hilfe eines großen Tellers schön abrunden.<br>
      An die Schnittkanten des dreieckigen Halsausschnittes wird eine Kapuze wie folgt genäht:<br>
      Zuerst wird der Stoff zusammengelegt (gestrichelte Bruchkante) und entlang der
      nun doppelt liegenden grünen Seite zur Kapuze zusammen genäht.<br>
      Dadurch ergibt rot und blau eine fortlaufende Stoffkante, die jetzt an den dreieckigen
      Halsausschnitt angenäht wird. Dabei ist darauf zu achten, dass die hintere Mitte der Kapuze (Zusammenstoß von
      roter und blauer Schnittkante) entsprechend der Zeichnung angeordnet ist.<br>
      Alle schwarze Schnittkanten von Kapuze und Umhang werden nun noch versäumt.
      Es kann noch beidseitig ein Lederband angebracht werden, um den Halsausschnitt
      verschließen zu können.<br>

    </p>

    <u>Mantel</u>
    <p>
      Der Mantel kleidet die schon besser gestellten, denn man benötigt schon ca. 4,5m - möglichst wollenen - Stoff, für eine Kapuze ca. 1m zusätzlich.<br>
      Dieser sollte 1,50m breit liegen (ergibt Mantellänge), die Farbauswahl wie oben beschrieben.<br>
      Zuerst also nimmt man 4,5x1,5 m Stoff. Davon schneidet man 1,5 m ab,
      die restlichen 3m werden 1mal so gefaltet, so das ein Quadrat von 1,5x1,5 m entsteht.<br>
      Das legt man auf das abgeschnittene Stoffstück.<br>
      <br>
      BILD<br>
      <br>
      Nun wird mit Hilfe eines Stiftes und einer Schnur der Saumbogen gekennzeichnet und der Halsausschnitt zugeschnitten.<br>
      <br>
      BILD<br>
      <br>
      So entsteht ein Halbkreis und ein Viertelkreis. Der Viertelkreis wird nun noch einmal halbiert.<br>
      <br>
      BILD<br>
      <br>
      Nun müssen nur noch alle Außenkanten eingesäumt werden, am besten von Hand.
      Verschlossen wird das Ganze mit Schnüren oder einer Fibel.
      Zusätzlich kann man noch eine Kapuze annähen.
    </p>


  </div>

</div>
