@import '../../../styles';

.left-right {
  display: grid;
  grid-template-columns: 80% 20%; /* Definiert die Breite der Spalten */
  justify-items: center; /* Zentriert die Inhalte horizontal */
  align-items: start; /* Start-Ausrichtung vertikal für alle Inhalte */
  margin-top: 100px;

}


.right img {
  width: 100%;  /* Bild füllt den gesamten verfügbaren Bereich aus */
  height: auto; /* Höhe passt sich automatisch an, um das Seitenverhältnis beizubehalten */

}
.left img {
  width: 100%;  /* Bild füllt den gesamten verfügbaren Bereich aus */
  height: auto; /* Höhe passt sich automatisch an, um das Seitenverhältnis beizubehalten */
}

.left {
  text-align: left;
  width:100%;
  height: 100%;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}

button{
  font-size: 18px;
}

.selectedYear{
  margin:25px;
  text-align: center;
}

.leistungen p{
  font-size: 20px;
}

@media (max-width: 768px) {

  .left-right {
    grid-template-columns: 100%; /* Mobile-Ansicht: eine Spalte */
  }
}

