<div class="main">
  <app-banner-img [imgSrc]="'assets/banner/Bannerfoto_Tross.jpg'"></app-banner-img>
  <div class="container">
    <h1 class="heading intro-text">Tross</h1>

        <h1>Tross</h1>
        <p>Im Jahr 1156 rief Otto von Wettin, später als „Otto der Reiche“ bekannt, Siedler aus Franken, Thüringen, Niedersachsen und Flandern in die Mark Meißen. In harter Arbeit rodeten sie den Urwald und legten Waldhufendörfer an, wodurch sie die Region des mittelsächsischen Gebirgsvorlands nachhaltig prägten. Die Besiedlung der Striegistäler wird vor allem für den Zeitraum von 1156 bis 1162 belegt.<br>

          Dieses historische Ereignis wird seit 1994 im Rahmen des deutschlandweit einzigartigen „Besiedlungszugs“ als lebendiges Kulturspektakel gefeiert. Jedes Jahr im Sommer zieht der Verein „Historischer Besiedlungszug a.d. 1156“ mit etwa 150 Siedlern, 15 Planwagen, Pferden, einem Eselgespann, Ziegen, Hunden und weiterem Getier durch die Striegistäler. An vier von neun Tagen legt der Zug etwa 10 bis 25 Kilometer zurück, von Rastplatz zu Rastplatz, und trotzt dabei Wind und Wetter.<br>

          Die Teilnehmer haben die Möglichkeit, die Geschichte der Besiedlung hautnah zu erleben und sich in alten Traditionen, Liedern und Tänzen zu üben. Das Ziel des Vereins ist es, die damalige Zeit mit all ihren Abenteuern und Herausforderungen für die Menschen von heute lebendig werden zu lassen. Durch das authentische Auftreten der Siedler in Städten und Dörfern wird altes Brauchtum greifbar und erlebbar gemacht – eine besondere Zeitreise und ein unvergessliches Abenteuer für alle Beteiligten.<br>
        </p>

    <div style="height: 50px"></div>
    <div class="bilder">
      <h1>Bilder</h1>
      <app-gallery-lightbox></app-gallery-lightbox>


    </div>

    <div style="height: 50px"></div>


    <div class="left-right">
      <div class="left leistungen">
        <h1>Leistungen</h1>
        <ul>
          <li><p>Vollverpflegung (drei bis vier Mahlzeiten am Tag)</p>
          <li><p>eine Flasche Wasser pro Tag</p>
          <li><p>Unterkunft in Zelten</p>
          <li><p>Besiedlung mit Pferdewagen an vier Tagen</p>
          <li><p>Siedlerfest mit Gelage</p>
          <li><p>kostenloses Ponyreiten</p>
          <li><p>Musikanten, Tanz, Jonglage, Bauerntheater</p>
          <li><p>Reiterspiele / Siedlerspiele</p>
          <li><p>Bastelei für Kinder</p>
          <li><p>Lagerfeuerromantik</p>
          <li><p>und natürlich kaltes Wasser für die Hygiene ;)</p>
        </ul>

      </div>
      <div class="right">
        <h1>Streckenplan 2025</h1>
        <img src="assets/neuigkeiten/streckenplan25.jpg">
      </div>
    </div>
  </div>
</div>
