@import '../../../styles';
.container {
  padding: 20px;
}

.heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.faq-question {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(138, 154, 91, 0.53);
}

.faq-answer {
  padding: 10px;
  border-top: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}
