@import '../../../styles';


  .sponsor {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }

  .sponsor-name {
    font-size: 1.2em;
  }
  .sponsor-logo {
    width:100%;
    max-width: 300px;
    height: auto;
    margin-right: 15px;
  }

